test/bash_workspace/
test/results/
test/try_workspace/
*~
.vagrant/
.vagrant
autom4te.cache/
artifacts/paper_eval/
benchmarks/results/
benchmarks/dependency_tracking/results/
config.log
config.status
Makefile
configure.scan
autoscan.log
configure
try-0.2.0.tgz
.vagrant*
__pycache__
benchmarks/micro_benchmarks/create_files/target
