#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	TRY_SKIP_RUNTIME_CHECKS=yes dh_auto_configure

override_dh_auto_install:
	$(MAKE) install prefix=$(CURDIR)/debian/try/usr

override_dh_auto_test:
